input.my-form-style {
    font-family: 'poppingsBold';
    font-weight: 600;
    padding: 1.14em 2.13em ;
    color:  hsl(249, 10%, 26%);
    font-size: .88rem;
    
}

input.my-form-style:focus {
    
    color:  hsl(249, 10%, 26%);
    box-shadow: none;
    border-color: hsl(248, 32%, 49%) !important;
}

button.my-form-style {
    font-family: 'poppings';
    font-weight: 500;
    padding: .937em 1.88em .625em 1.88em ;
    color: hsl(249, 10%, 26%) ;
    margin-bottom: 1.25rem;
    font-size: 1rem;
}

a:hover{
   cursor: pointer; 
}

div.my-form-style{
    margin-bottom: 1.313rem;
}

.error{
    color:hsl(0, 100%, 74%);
    float: right;
    font-family: 'poppingsItalic';
    font-size: .688rem;
    margin-bottom: .25rem;
}

.input-container {
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}