.app{
    background-color: hsl(0, 100%, 74%);
    background-image: url('assets/bg-intro-desktop.png');
    min-height: 100vh;
    overflow: hidden;
}

main{
    display: flex;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
}

.flex1{
    flex:1
}

.attribution-container{
    position:relative;
}

.attribution {
    margin:0;
    position: absolute;
    font-size: 11px;
    text-align: center;
    left:50%;
    bottom:0.7rem;
    transform: translate(-50%,0);
}

.attribution a {
    color:  hsl(242, 99%, 37%);
}

@font-face {
    font-family: poppingsLight;
    src: url(assets/Poppins-Light.ttf);
}

@font-face {
    font-family: poppings;
    src: url(assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppingsBold;
    src: url(assets/Poppins-Bold.ttf)
}

@font-face {
    font-family: poppingsItalic;
    src: url(assets/Poppins-Italic.ttf)
}